* {
  border: 1px solid rgb(5, 24, 24);
}

body {
  background: rgb(205, 248, 255);
}                  

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}                  

header {
  flex-grow: 1;
}

footer {
  flex-grow: 1;
}

main {
  flex-grow:3;
}

@media (min-width:600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  header {
    width: 100%;
  }
  main, footer, header {
    margin: 1em;
}
}